@font-face {
  font-family: "JetBrains Mono";
  src: url("fonts/jetbrainsmono-roman-vf.woff2") format("woff2-variations");
  font-weight: 1 999;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "JetBrains Mono";
  src: url("fonts/jetbrainsmono-italic-vf.woff2") format("woff2-variations");
  font-weight: 1 999;
  font-style: italic;
  font-display: swap;
}
